* {
   margin: 0;
}

h1 {
    font-family: Impact, serif;
    background-color: cornflowerblue;
    font-size: 3rem;
    text-align: center;
    color: rgba(255, 0, 0, 0.356);
}

.sub-header {
    font-size: 50px;
}

#main-header {
    font-size: 80px;
}

h3 {
    transition: 1s ease all;
}

h3:hover {
    cursor: pointer;
    color: red;
    font-size: 40px;
    transition: 1s ease all;
    transform: translateY(20px)
}


