* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.container {
    width: 900px;
    height: 100%;
    margin: 100px auto;
    background-color: red;
}

.blog-title {

}

.top-post {

}

.other-posts {
    
}