* {
    margin: 0;
    padding: 0;
}

.hero {
    height: 30vh;
    width: 100%;
    background: no-repeat center/100% url("https://assets.codepen.io/6060109/window.jpg");
    position: relative;
}

h4 {
    position: absolute;
    top: 40%;
    left: 40%;
}

.section {
    text-align: center;
    margin: 50px;
}

.box-ctr {
    display: flex;
    height: 15vh;
    width: 100%;
    background-color: lightgray;
}

.box {
    width: 5%;
    height: 30%;
    border: 1px solid black;
}

.box-ctr .box:nth-of-type(1) {
    background-color: red;
}

.box-ctr .box:nth-of-type(2) {
    background-color: green;
}

.box-ctr .box:nth-of-type(3) {
    background-color: blue;
}

.box-ctr-1 {
    justify-content: center;
    align-items: center;
}

.box-ctr-2 {
    justify-content: space-around;
    align-items: flex-end;
}

.box-ctr-3 {
    flex-direction: column;
    align-items: flex-end;
}




